.ReservationForm-wrapper{
    /* border: 1px solid black; */
    width: 100%;
    padding-top: 0rem;
    margin-bottom: 12rem;
}

.ReservationForm-wrapper .reservationForm .form-item{
    width: 95%;
    margin: auto;
    margin-top: 1rem;
}

.ReservationForm-wrapper .reservationForm .shareCount{
    margin-top: 1rem;
}

.ReservationForm-wrapper .reservationForm .form-item:last-child{
    width: 95%;
    margin: auto;
    margin-top: 0rem;
}

@media only screen and (max-width:900px){
    .ReservationForm-wrapper{
        /* border: 1px solid black; */
        width: 100%;
        padding-top: 0rem;
        margin-bottom: 2rem;
    }
}



