.viewdetails-wrapper {
    /* background-color: red; */
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 0rem;
}

.viewdetails-wrapper .section1 {
    padding: 1rem 1rem;
}
.viewdetails-wrapper .section2 {}

.viewdetails-wrapper .section3 {
    display: flex;
    margin-top: 2rem;
}

.viewdetails-wrapper .section3 .property-details {
    width: 75%;
    background-color: rgb(232, 232, 232);
    padding: 1rem 2rem;
}


.viewdetails-wrapper .section3 .property-details .aminities1 {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    /* border: 1px solid black; */
}

.viewdetails-wrapper .section3 .property-details .aminities1 .item {
    width: 33.33%;
    /* border: 1px solid black; */
}

.aminities{
    color:black !important;
    /* border: 1px solid black; */
    margin-top: 1rem;
}
.aminities .title{
    padding-left: 1rem;
    padding-top: 0rem;
}
.viewdetails-wrapper  .aminities2 {
    display: flex;
    justify-content: flex-start;
    /* overflow-x: scroll; */
    margin-top: 1rem;
    padding: 0rem 3rem;
    /* border: 1px solid black; */
    height: 10rem;
}

.viewdetails-wrapper .aminities2 .aminity-item {
    display: flex;
    border-bottom: 1px solid rgb(185, 184, 184);
    margin-right: 1.5rem;
    margin-top: 0.2rem;
    width: 20rem;
    padding:0rem;
    font-family: 'calibri';
}

.viewdetails-wrapper .aminities2 .aminity-item .icon {
    color: black;
}

.viewdetails-wrapper  .aminities2 .aminity-item .item {
    padding-top: 0rem;
    padding-left: 0.4rem;
}

.viewdetails-wrapper .section3 .property-details .about-property {
    margin-top: 1rem;
padding: 1rem;
    /* border: 1px solid black; */
}

.viewdetails-wrapper .section3 .propertyStatus {
    /* border: 1px solid rgb(191, 190, 190); */
    width: 30%;
    padding: 0.5rem 1rem;
    margin: auto;
    margin-left: 2rem;
    border-radius: 1rem;
}
.viewdetails-wrapper .section3 .propertyStatus .item {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.1rem;
}

.viewdetails-wrapper .section3 .propertyStatus .reserveBtn {
    display: block;
    margin: auto;
    margin-top: 1rem;
}

.viewdetails-wrapper .section4 {
    margin-top: 2rem;
    /* border:1px solid black; */
    height: 16rem;
}

.viewdetails-wrapper .section4 .google-map{
    width:100%;
    height:100%;
}



@media only screen and (max-width:900px) {
    .viewdetails-wrapper {
        /* background-color: red; */
        /* border: 1px solid black; */
        width: 100%;
        margin: auto;
        margin-top: 8rem;
        margin-bottom: 0rem;
    }

    .viewdetails-wrapper .section3 {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .viewdetails-wrapper .section3 .property-details {
        width: 100%;
        margin: auto;
        background-color: rgb(232, 232, 232);
        padding: 0.5rem 1rem;
    }


    .viewdetails-wrapper .section3 .property-details .aminities1 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-start;
        /* border: 1px solid black; */
    }
    .viewdetails-wrapper .section3 .property-details .aminities1 .item{
        margin-top: 1rem;
        border-bottom: none;
    }
    .aminities{
        color:black !important;
        /* border: 1px solid black; */
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
    .aminities .title{
        padding-left: 1rem;
        padding-top: 0rem;
    }
    
    .viewdetails-wrapper .section3 .property-details .aminities2 {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

    }

    .viewdetails-wrapper .section3 .property-details .aminities2 .aminity-item {
        display: flex;
        border-bottom: none;
        width: 10rem;
    }

    .viewdetails-wrapper .section3 .property-details .aminities2 .aminity-item .icon {
        color: green;
    }

    .viewdetails-wrapper .section3 .property-details .aminities2 .aminity-item .item {
        padding-left: 0.4rem;
        padding-top: 0.2rem;
    }


    .viewdetails-wrapper .section3 .property-details .aminities1 .item {
        width: 33.33%;
        /* border: 1px solid black; */
    }

    .viewdetails-wrapper .section3 .property-details .about-property {}

    .viewdetails-wrapper .section3 .propertyStatus {
        /* border: 1px solid black; */
        width: 100%;
        padding: 0.5rem 0.5rem;
        margin-top: 2rem;
    margin-left: 0rem;
    border-radius: 0rem;

    }

    .viewdetails-wrapper .section3 .propertyStatus .item {
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 1.1rem;
    }

    .viewdetails-wrapper .section3 .propertyStatus .reserveBtn {
        margin: auto;
        display: block;
        justify-self: center;
        margin-top: 1rem;
    }

    .viewdetails-wrapper .section4 {
        margin-top: 2rem;
        /* border:1px solid black; */
        height: 16rem;
    }

    .viewdetails-wrapper .section4 .google-map{
        width:100%;
        height:100%;
    }





}