* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.component-wraps {
  /* margin-top: 5rem; */
  margin-bottom: 0rem;
}

.component-wraps > * {
  font-family: "Helvetica", Arial, sans-serif;
}

.fp-warning,
.fp-watermark {
  display: none;
}
