:root {
  --border: 1px solid black;
  --bg1: #f3f1f1;
  --bg2: #121c30;
}

.testimonial-wrapper {
  height: 85%;
  margin-top: 5rem;
  /* border: var(--border); */
  display: flex;
  overflow: hidden;
  position: relative;
}

.testimonial-wrapper .col1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg1);
}

.testimonial-wrapper .col1 h1 {
  width: 50%;
  height: 100%;
  padding: 7rem 5rem 10rem 5rem;
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 4rem;
  /* border: 1px solid black; */
}

.testimonial-wrapper .col2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background-color: var(--bg2);
  transform: skew(-220deg, 0);
}

.testimonial-wrapper .col3 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 50%;
  background-color: var(--bg2);
}

/* cards slider  */
.testimonial-wrapper .col4 {
  position: absolute;
  left: 45%;
  top: 10%;
}

.testimonial-wrapper .col4 .card-wrap {
  overflow: hidden;
  height: 20rem;
  width: 100%;
}

.testimonial-wrapper .col4 .card-wrap .card {
  padding: 1.5rem 2rem;
  border: 0;
  width: 40rem;
  height: 20rem;
  max-height: 30rem;
  border-radius: 1rem;
}

.testimonial-wrapper .col4 .card-wrap .card .row1 {
  display: flex;
  justify-content: space-between;
}

.testimonial-wrapper .col4 .card-wrap .card .row2 {
  margin-top: 1rem;
}

.testimonial-wrapper .col4 .card-wrap .card .row2 p {
  opacity: 0.8;
  height: 11rem;
  overflow: auto;
}

.testimonial-wrapper .col4 .card-wrap .card .row3 {
  text-align: right;
  color: black;
}

/* cards slider ends  */

/* arrow icons */
.testimonial-wrapper .col5 {
  position: absolute;
  left: 75%;
  bottom: 25%;
  display: flex;
  gap: 1rem;
}

.testimonial-wrapper .col5 section {
  width: 4rem;
  height: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

@media only screen and (max-width: 680px) {
  .testimonial-wrapper {
    height: 85%;
    margin-top: 5rem;
    border: var(--border);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }

  .testimonial-wrapper .col1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg1);
  }

  .testimonial-wrapper .col2 {
    position: absolute;
    top: 26%;
    right: 0;
    width: 100%;
    height: 68%;
    background-color: var(--bg2);
    transform: skew(-259deg, 0deg);
  }

  .testimonial-wrapper .col3 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40%;

    /* background-color: var(--bg2); */
  }
}
