/* WORKING STEPS || WORKING STEPS || WORKING STEPS */

.steps {
    display: flex;
    margin: 50px 70px;
    align-items: center;
    flex-direction: column;
}

.initiate {
    margin: 0 auto;
    font-size: 13px;
    color: #94a3b8;
    width: fit-content;
    text-align: center;
}

.step {
    width: 800px;
    display: flex;
    margin: 30px 0;
    align-items: end;
    justify-content: space-around;
}

.step.stepEven {
    margin-right: 340px;
}

.step.stepOdd {
    margin-left: 340px;
    flex-direction: row-reverse;
}

.step>div {
    width: 330px;
    position: relative;
}

.step span {
    top: -40px;
    font-size: 35px;
    color: #3944F7;
    position: absolute;
    font-weight: bolder;
    font-family: 'Fraunces', serif;
}

.step.stepEven span {
    left: -32px;
}

.step.stepOdd span {
    right: -32px;
}

.step h1 {
    color: #1e293b;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 20px;
}

.step p {
    line-height: 1.3;
    font-size: small;
    margin-bottom: 40px;
}

.step hr {
    height: 1.2px;
    border: none;
    margin: 1px -5px;
    background: repeating-linear-gradient(to right, transparent, transparent 5px, #94a3b8 5px, #94a3b8 10px)
}

.step img {
    width: 350px;
}

/* Responsive */

@media screen and (max-width: 1200px) {

    .step.stepEven,
    .step.stepOdd {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 850px) {
    .steps {
        margin-top: 15px;
    }

    .step.stepEven,
    .step.stepOdd {
        align-items: center;
        flex-direction: column-reverse;
    }

    .step.stepEven>div,
    .step.stepOdd>div {
        margin-top: 50px;
    }

    .step img {
        width: 300px;
    }

    .step p {
        margin-bottom: 30px;
    }

    .step.stepEven span {
        left: -15px;
    }

    .step.stepOdd span {
        right: -15px;
    }
}