.faqs-page-wrapper {
    margin-top: 7rem;
    display: flex;
}

.left-container {
    width: 65%;
    margin-left: 1rem;
}

.left-container h3 {
    padding-left: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
}

.questionWrapper {
    padding-left: 5rem;
}

.questionWrapper h4 {
    border: 1px solid black;
}

.questionWrapper .answerWrapper {
    border: 1px solid black;
}

.contactUs-box{
    height: fit-content;
    width: 80%;
    background-color: rgb(231, 229, 229);
    margin: auto;
    padding: 2rem;
    text-align: center;
    font-family: 'candara';
}

.right-container .contactUs-box h6 {
    margin-top: 1rem;
}

.right-container button {
    background-color: black;
    color: whitesmoke;
    margin-top: 2rem;
    font-weight: bold;
}

@media only screen and (min-width:200px) and (max-width:1000px) {
    .faqs-page-wrapper {
        display: flex;
        flex-direction: column;
    }

    .left-container {
        width: 80%;
        margin: auto;
        margin-top: 0rem;
        padding-bottom: 0rem;
        font-size: 1.1rem;
    }

    .left-container h3 {
        padding-left: 0rem;
        text-align: center;
    }

    .contactUs-box{
        margin-top: 7rem;
        height: fit-content;
        width: 80%;
        background-color: rgb(231, 229, 229);
        margin: auto;
        padding: 2rem;
        text-align: center;
        font-family: 'candara';
        border-radius: 0.3rem;
    }

    .left-container,
    .right-container {
        margin-block-end: 2rem;
    }
}