@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&display=swap");

/* auto slider */

#carouselExampleIndicators {
  height: 100%;
}

#carouselExampleIndicators ol {
  list-style-type: none;
}

#carouselExampleIndicators .carousel-item .slideImg {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#carouselExampleIndicators .carousel-item .slideImg .content h2 {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(233, 232, 232);
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  width: 100%;
  height: 100%;
  text-align: left;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 70px;
  line-height: 5rem;
  background-color: rgb(0, 0, 0, 0.4);
  letter-spacing: 3px;
  padding: 15rem 30rem 10rem 10rem;
}

#carouselExampleIndicators .carousel-item .slideImg .content h2 span {
  display: block;
  text-transform: none;
  font-size: 24px;
  margin-top: 25px;
  color: orangered;
}

/* auto slider ends */

.featured-category-header {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}

.featured-category-header h2 {
  font-size: 45px;
  font-weight: 500;
}

/* Section 1 */
.home-banner {
  height: 100vh;
}

/* Section 2 */
.home-play {
  height: 100vh;
}

/* Section 3 */
.home-slider {
  height: 100vh;
}

/* Section 4 */
.home-whyus {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-testimonial {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-calculator {
  height: 100vh;
}

.home-footer {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@media screen and (max-width: 600px) {

  /* auto slider */
  #carouselExampleIndicators {
    height: 40rem;
  }

  #carouselExampleIndicators img {
    height: 40rem;
  }

  #carouselExampleIndicators .carousel-item .slideImg .content h2 {
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(233, 232, 232);
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    width: 100%;
    height: 100%;
    text-align: left;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 30px;
    line-height: 2rem;
    background-color: rgb(0, 0, 0, 0.4);
    letter-spacing: 3px;
    padding: 15rem 2rem 5rem 5rem;
  }

  #carouselExampleIndicators .carousel-item .slideImg .content h2 span {
    display: block;
    text-transform: none;
    font-size: 24px;
    margin-top: 25px;
    color: orangered;
  }

  /* auto slider ends */
  .featured-category-header h2 {
    font-size: 28px;
    font-weight: 500;
  }
}