@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&display=swap');

.home-wrapper {}

.home-banner img {
    width: 100%;
    height: calc(100vh);
}

.home-banner h2 {
    position: absolute;
    top: 30%;
    left: 10%;
    color: #ffff;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    width: 40%;
    text-align: left;
    text-transform: capitalize;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 54px;
    line-height: 4rem;
}

.home-banner h2 span {
    display: block;
    text-transform: none;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-top: 25px;
}

.featured-category-header {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
}

.featured-category-header h2 {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: 500;
}

/* .home-banner {
    width: 100vw !important;
    height: 100vh !important;
} */

.home-steps {
    height: calc(100vh);
}

.home-whyus {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-testimonial {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .home-banner img {
        height: 75vh;
        width: 100%;
    }

    .home-banner h2 {
        font-weight: 500;
        font-size: 36px;
        line-height: 3rem;
        width: 70%;
    }

    .home-banner h2 span {
        font-size: 22px;
        margin-top: 25px;
    }

    .featured-category-header h2 {
        font-size: 28px;
        font-weight: 500;
    }

}

/* Bootstrap Carousel */
.carousel.slide {}

.carousel-item {
    width: 100vw !important;
    height: 100vh !important;
}

.carousel-inner {
    /* background-color: aqua; */
}