.testimonial-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem auto;
  width: 75%;
  height: 100%;
}

.testimonial-slider h2 {
  width: 100%;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  font-weight: 500;
  margin-top: 5rem;
  margin-bottom: -1rem;
}

.video-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  /* padding-bottom: 56.25%; */
  /* Maintain a 16:9 aspect ratio */
}

.video-container video {
  /* position: absolute; */
  width: 90%;
  height: 90%;
}

.slider-nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slider-dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider-dot.active {
  background-color: #000;
}

@media screen and (max-width: 600px) {
  .testimonial-slider h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .testimonial-slider {
    margin-top: 5rem;
    width: 100%;
  }
}