.channel-partner-wrapper {
    margin-top: 9rem;
}

.channel-partner-ub h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: 500;
}

.channel-partner-search-bar {
    margin: 3rem auto;
    width: 35%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

.channel-partner-search-bar section {}

.channel-partner-search-bar section div label {
    color: rgb(120, 120, 120)
}

.channel-partner-search-bar section div input {
    border-radius: 15px;
    outline: none;
    padding-left: 15px;
    width: 200px;
    height: 35px;
    border: 1px solid rgb(120, 120, 120)
}

.channel-partner-search-bar section div select {
    border-radius: 15px;
    outline: none;
    padding-left: 15px;
    width: 200px;
    height: 35px;
    border: 1px solid rgb(120, 120, 120);
    cursor: pointer;
}

.channel-partner-search-bar section:nth-child(2) {}

.channel-partner-ub {
    border-bottom: 1px solid rgb(84, 83, 83);
}

.become-channel-partner-btn-container {
    margin: 5rem;
    text-align: center;
}

.become-channel-partner-btn {
    height: 50px;
    background-color: #d08e02;
    color: #ffff;
    border: none;
    font-size: 15px;
    font-weight: 500;
    padding: 0px 15px;
}

@media screen and (max-width: 1200px) {
    .channel-partner-search-bar {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    .channel-partner-search-bar {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .channel-partner-ub h2 {
        font-size: 34px;
    }

    .channel-partner-search-bar {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .channel-partner-search-bar {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}