.bg-image {
  background-image: url("../../../assets/villa.jpg");
  background-position: center center;
  background-size: cover;
  height: 720px;
  position: relative;
  margin-bottom: 5rem;
}

.villa-page-container section h4 {
  padding-left: 1rem;
}

.villa-card-container {
  width: 90%;
  display: grid;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: #f1f5f9;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 700px) {
  .villa-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}