.villa-card-container{
    /* border: 1px solid black; */
    width: 80%;
    background-color: #f3f3f3;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.villa-card{
    width: 42%;
    /* border: 1px solid black; */
}

.villa-card-ub{
    display: flex;
    justify-content: space-between;
}

.villa-card-ub div{
    margin-top: 60%;
    /* border: 1px solid red; */
    width: 50%;
}

.villa-card-ub div:first-child{
    padding-left: 1rem;
}

.villa-card-ub div:last-child{
    padding-right: 1rem;
    padding-top: 75px;
    text-align: right;
}

.villa-card-ub div .view-villa-details-btn{
    background-color: goldenrod;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    width: 150px;
}

.villa-card-ub p img{
    width: 100%;
}

.villa-card-ub .villa-name{
    color: #ffff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
}

.villa-card-ub .villa-location{
    color: #ffff;
    font-size: 14px;
    font-weight: 500;
}

.villa-card-ub p div .villa-location{

}

.view-villa-in-map-btn{
    background-color: transparent;
    border: 1px solid #ffff;
    border-radius: 5px;
    color: #ffff;
    padding: 5px 10px;
    font-weight: 500;
    top: 50%;
    left: 5%;
}

.view-villa-details-btn{
}

.villa-card-ub p:last-child{
}

.villa-card{
    height: 600px;
    margin-bottom: 3rem;
    border-radius: 10px;
}

.villa-card-ub{
    height: 75%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.villa-card-lb{
    height: 25%;
    background-color: #ffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.villa-card-lb div{
    display: flex;
    justify-content: space-evenly;
    height: 50%;
    /* border: 1px solid black; */
}

.villa-card-lb div:first-child{
    
}

.villa-card-lb div:last-child{
   display: flex;
}

.villa-card-lb div:last-child section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.villa-card-lb div:last-child section .dummy-border{
   height: 1px;
   width: 75%;
   background-color: goldenrod;
}