.villa-page-container .bg-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/53610/large-home-residential-house-architecture-53610.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  /* background-image: url("../../../assets/villa.jpg"); */
  background-position: center center;
  background-size: cover;
  height: 720px;
  position: relative;
  margin-bottom: 5rem;
}

.villa-page-container .bg-image h2{
  color: rgb(0, 0, 0);
  font-family: 'Playfair Display', serif;
  font-size: 45px;
}

.villa-page-container section h4 {
  padding-left: 1rem;
}

.villa-page-container .villa-card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: white;
  margin-top: 2rem;
}
