.banner {
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    height: calc(100vh);
}

.videoBg {
    width: 100%;
    z-index: -1;
    height: auto;
    position: absolute;
}

.videoOverlay {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.videoOverlay h1 {
    width: 80%;
    font-size: 100px;
    color: #3944F7;
    text-align: center;
    font-family: 'Fraunces', serif;
}

.videoOverlay div {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    flex-direction: column;
}

.videoOverlay div button:first-child {
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: large;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 30px;
    margin-bottom: 12px;
    background-color: #3944F7;
}

.videoOverlay div button:last-child {
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    padding: 7px 10px;
    width: fit-content;
    border-radius: 5px;
    border: 1px solid #0D0D0D;
    background-color: transparent;
}

/* Responsive */

@media screen and (max-width: 1200px) {
    .videoOverlay h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 700px) {
    .navlogo {
        margin-left: 20px;
    }

    .navmenu {
        display: block;
        margin-right: 20px;
    }

    .navlinks {
        display: none;
    }

    .banner {
        height: 85vh;
    }

    .videoOverlay h1 {
        font-size: 50px;
    }

    .videoOverlay div button:first-child {
        font-size: medium;
        padding: 10px 25px;
    }

    .videoOverlay div button:last-child {
        font-size: medium;
        padding: 5px 7px;
    }
}