.investcal-wrap {
  height: 85%;
  margin-top: 7.5rem;
  /* border: 1px solid black; */
}

.investcal-wrap h2 {
  text-align: center;
}

.investcal-wrap .container {
  display: flex;
  gap: 1rem;
  height: 75%;
  margin-top: 3rem;
  /* border: 1px solid rgb(235, 235, 235); */
}

/* col1 */
.investcal-wrap .container .col1 {
  width: 50%;
  padding: 3rem 4rem 0rem 4rem;
  border-radius: 1rem;
  border: 1px solid rgb(219, 219, 219);
}

.investcal-wrap .container .col1 .inner-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  /* border: 1px solid rgb(195, 17, 17); */
}

.investcal-wrap .container .col1 .inner-wrap .slider1,
.investcal-wrap .container .col1 .inner-wrap .slider2,
.investcal-wrap .container .col1 .inner-wrap .slider3 {
  margin-top: 1.5rem;

  /* border: 1px solid black; */
}

.investcal-wrap .container .col1 .inner-wrap .slider1 .label,
.investcal-wrap .container .col1 .inner-wrap .slider2 .label,
.investcal-wrap .container .col1 .inner-wrap .slider3 .label {
  display: flex;
  justify-content: space-between;
}

/* col1 ends */

/* col1 */

.investcal-wrap .container .col2 {
  width: 50%;
  padding: 2rem;
  border: 1px solid black;
}

.investcal-wrap .container .col2 .inner-wrap {
}

/* col2 ends */

@media only screen and (max-width: 680px) {
  .investcal-wrap .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 75%;
    margin-top: 3rem;
  }

  /* col1 */
  .investcal-wrap .container .col1 {
    width: 100%;
    padding: 3rem 1rem 0rem 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(219, 219, 219);
  }

  /* col2 */
  .investcal-wrap .container .col2 {
    width: 100%;
    padding: 3rem 1rem 0rem 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(219, 219, 219);
  }
}
