.listings-wrap .header-row1,
.listings-wrap .header-row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 2rem 0rem 1rem;
  background-image: linear-gradient(
    -20deg,
    #ddd6f3 0%,
    #faaca8 100%,
    #faaca8 100%
  );
}

.listings-wrap .header-row1 span,
.listings-wrap .header-row2 span {
  margin-left: 1rem;
}

.listings-wrap .header-row2 {
  margin-top: 3rem;
}

.listings-wrap .table-wrap {
  border: 1px solid black;
  margin-top: 0.5rem;
}

.listings-wrap .table-wrap table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  margin: auto;
  table-layout: fixed;
}

.listings-wrap .table-wrap table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.listings-wrap .table-wrap table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

.listings-wrap .table-wrap table th,
.listings-wrap .table-wrap table td {
  padding: 0.625em;
  text-align: center;
  border-left: 1px solid rgb(216, 215, 215);
}

.listings-wrap .table-wrap table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* sell and rent rows */

/* class from sell row component */
.listings-wrap .table-wrap table tbody tr.sell-row td:last-child {
  display: flex;
  justify-content: space-between;
  padding: 0rem 4rem;
  border-left: 1px solid rgb(216, 215, 215);
}

.listings-wrap .table-wrap table tbody tr.sell-row td {
  text-transform: capitalize;
}

/* class from rent row component */
.listings-wrap .table-wrap table tbody tr.rent-row td:last-child {
  display: flex;
  justify-content: space-between;
  padding: 0rem 7.5rem;
  border-left: 1px solid rgb(216, 215, 215);
}

.listings-wrap .table-wrap table tbody tr.rent-row td {
  text-transform: capitalize;
}

/* sell and rent rows ends */

.listings-wrap .table-wrap table tbody tr td:last-child .deleteicon {
  color: rgb(220, 38, 38);
}
.listings-wrap .table-wrap table tbody tr td:last-child .deleteicon:hover {
  color: black;
}
.listings-wrap .table-wrap table tbody tr td:last-child .view-edit-icon {
  color: green;
}
.listings-wrap .table-wrap table tbody tr td:last-child .view-edit-icon:hover {
  color: black;
}

.deleteModalWrap {
  margin-top: 2rem;
}
.deleteModalWrap .buttons-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .listings-wrap .table-wrap table {
    border: 0;
    width: 100%;
  }

  .listings-wrap .table-wrap table caption {
    font-size: 1.3em;
  }

  .listings-wrap .table-wrap table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .listings-wrap .table-wrap table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .listings-wrap .table-wrap table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
    border-left: 0;
  }

  .listings-wrap .table-wrap table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .listings-wrap .table-wrap table td:last-child {
    border-bottom: 0;
  }

  .listings-wrap .table-wrap table tbody tr td:last-child {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-left: 0;
  }

  /* class from sell row component */
  .listings-wrap .table-wrap table tbody tr.sell-row td:last-child {
    display: flex;
    justify-content: space-between;
    padding: 0rem 0.5rem;
    border-left: 0;
  }
  .listings-wrap
    .table-wrap
    table
    tbody
    tr.sell-row
    td:last-child
    div:first-child {
    margin-left: 12rem;
  }

  /* class from rent row component */
  .listings-wrap .table-wrap table tbody tr.rent-row td:last-child {
    display: flex;
    justify-content: space-between;
    padding: 0rem 0.5rem;
    border-left: 1px solid rgb(216, 215, 215);
  }

  .listings-wrap
    .table-wrap
    table
    tbody
    tr.rent-row
    td:last-child
    div:first-child {
    margin-left: 12rem;
  }
}
