:root {
  --background: black;
  --border: 1px solid white;
  --fontColor: white;
  --hover-bg: rgb(196, 49, 9);
}

/* general css */
.app-navbar-wrap ul {
  list-style-type: none;
}

.app-navbar-wrap ul li {
  height: 3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.app-navbar-wrap ul li:hover {
  background-color: var(--hover-bg);
}

/* general css ends */
.app-navbar-wrap {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  text-align: center;
  color: var(--fontColor);
  background-color: var(--background);
  display: grid;
  grid-template-columns: 20% 80%;
  z-index: 10;
}

/* col1 */
.app-navbar-wrap .col1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-navbar-wrap .col1 > button {
  border: 0;
  outline: none;
  color: white;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
}

.app-navbar-wrap .col1 > button:hover {
  background-color: var(--hover-bg);
}

.app-navbar-wrap .col1 .landing-page-submenu {
  position: absolute;
  top: 100%;
  background-color: var(--background);
  width: 15rem;
}

.app-navbar-wrap .col1 .landing-page-submenu li > span {
  border-bottom: var(--border);
}

.app-navbar-wrap .col1 .landing-page-submenu li {
  text-align: left;
  text-transform: uppercase;
}

.app-navbar-wrap .col1 .landing-page-submenu li .landing-page-nested-submenu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 15rem;
  background-color: var(--background);
}

/* col1 ends */

/* col2 */
.app-navbar-wrap .col2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.app-navbar-wrap .col2 .navbar-item {
  padding: 0.5rem 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  /* border: var(--border); */
}

.app-navbar-wrap .col2 .navbar-item:hover {
  background-color: rgb(196, 49, 9);
}

.app-navbar-wrap .col2 .subcol2-5 {
  position: relative;
}

.app-navbar-wrap .col2 .subcol2-5 .submenu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 13rem;
  background-color: var(--background);
}

.app-navbar-wrap .col2 .subcol2-5 .submenu li {
  padding-left: 0;
  text-align: left;
  width: 100%;
}

.app-navbar-wrap .col2 .subcol2-5 .nested-submenu {
  position: absolute;
  top: 0%;
  left: 85%;
  width: 15rem;
  background-color: var(--background);
}

.app-navbar-wrap .col2 .subcol2-5 .nested-submenu li {
  padding-left: 1rem;
}

/* col2 ends */

/* mobile view  navbar*/
.app-navbar-wrap .mobile-view-navbar {
  display: none;
}
/* mobile view  navbar ends*/

@media only screen and (max-width: 680px) {
  .app-navbar-wrap {
    display: flex;
    justify-content: space-between;
  }
  .app-navbar-wrap .col1 {
    width: 20rem;
    /* border: 1px solid white; */
  }
  .app-navbar-wrap .col2 {
    display: none;
  }

  .app-navbar-wrap .mobile-view-navbar {
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .app-navbar-wrap .mobile-view-navbar .menu-icon {
    /* border: 1px solid white; */
    width: 5rem;
  }

  .app-navbar-wrap .mobile-view-navbar .menu-icon .hamburger-menu {
    width: 3rem;
    height: 5rem;
    opacity: 0.7;
  }

  .app-navbar-wrap .mobile-view-navbar .menu-icon .hamburger-menu:hover {
    opacity: 1;
  }

  .app-navbar-wrap .mobile-view-navbar .mobile-navbar {
    background-color: var(--background);
    width: 80%;
    height: 35rem;
    position: absolute;
    top: 100%;
    left: 30%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
    overflow: scroll;
    z-index: 20;
  }

  .app-navbar-wrap .mobile-view-navbar .mobile-navbar > div .mob-navbar-item {
    font-size: 1.2rem;
    padding: 0.5rem 0;
    text-transform: uppercase;
    /* border: var(--border); */
  }
  .app-navbar-wrap
    .mobile-view-navbar
    .mobile-navbar
    > div
    .mob-submenu
    .mob-nested-submenu {
    background-color: black;
    box-shadow: 10px 10px 200px 20px rgb(105, 105, 105);
    position: absolute;
    top: 70%;
    left: 6%;
    width: 100%;
    height: 20rem;
  }
}
