:root {
  --background: black;
  --border: 1px solid white;
  --fontColor: white;
}

/* general css */
.app-navbar-wrap ul {
  list-style-type: none;
}

.app-navbar-wrap ul li {
  height: 3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.app-navbar-wrap ul li:hover {
  background-color: rgb(196, 49, 9);
}

/* general css ends */
.app-navbar-wrap {
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;
  text-align: center;
  color: var(--fontColor);
  background-color: var(--background);
  display: grid;
  grid-template-columns: 20% 80%;
  z-index: 10;
}

/* col1 */
.app-navbar-wrap .col1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-navbar-wrap .col1 .dropdown-menu div {
  padding-left: 2rem;
  color: white;
  text-transform: uppercase;
  width: 15rem;
}

/* col1 ends */

/* col2 */
.app-navbar-wrap .col2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.app-navbar-wrap .col2 .navbar-item {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.app-navbar-wrap .col2 .navbar-item:hover {
  background-color: rgb(196, 49, 9);
}

.app-navbar-wrap .col2 .subcol2-5 {
  position: relative;
}
.app-navbar-wrap .col2 .subcol2-5 .submenu {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 1rem;
  width: 13rem;
  background-color: var(--background);
}

.app-navbar-wrap .col2 .subcol2-5 .submenu li {
  padding-left: 0;
  text-align: left;
  width: 100%;
}

.app-navbar-wrap .col2 .subcol2-5 .nested-submenu {
  position: absolute;
  top: 0%;
  left: 85%;
  width: 10rem;
  background-color: var(--background);
}

.app-navbar-wrap .col2 .subcol2-5 .nested-submenu li {
  padding-left: 1rem;
}
/* col2 ends */
@media only screen and (max-width: 680px) {
}