@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap');

.shop-page-container .bg-image {
    margin-bottom: 0;
    position: relative;
    background-size: cover;
    height: calc(100vh - 5rem);
    background-position: center center;
    background-image: url("https://images.pexels.com/photos/269077/pexels-photo-269077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.shop-page-container section h4 {
    color: #334155;
    margin-left: 20px;
    font-family: 'Domine', serif;
}

.shop-page-container>section {
    margin-top: 2rem;
}

.shop-card-container {
    display: grid;
    margin: 0 20px;
    border-radius: 10px;
    background-color: #f1f5f9;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 700px) {
    .shop-card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}