.shop-page-wrapper {
    margin-top: 5rem;
}

.shop-page-wrapper .bg-image {
    background-image: url('https://wallpapercrafter.com/desktop/207233-a-busy-japanese-marketplace-street-at-night-lit-up.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}