.apartment-card {
  margin: 2rem;
  border-radius: 1rem;
  background-color: #ffff;
}

.apartment-card-ub {
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: space-between;
}

.apartment-card-ub div {
  margin-top: 60%;
  /* border: 1px solid red; */
  width: 100%;
}

.apartment-card-ub .details-btn-wrap {
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-end;
}

.apartment-card-ub div .view-apartment-details-btn {
  width: 7rem;
  margin: .5rem;
}

.apartment-card-ub p img {
  width: 100%;
}

.apartment-card-ub .apartment-name {
  color: black;
  text-shadow: 2px 2px 2px white;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 3rem;
}

.apartment-card-ub .apartment-location {
  color: #ffff;
  font-size: 14px;
  font-weight: 500;
}

.apartment-card {
  height: fit-content;
}

.apartment-card-lb {
  height: 25%;
  background-color: #ffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 2rem;
}

.apartment-card-lb div {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid black; */
}

.apartment-card-lb div section {
  border-right: 1px solid lightgrey;
  padding: 0.5rem;
  text-align: center;
}

.apartment-card-lb div section p:first-child {
  font-size: 0.9rem;
}

@media screen and (max-width: 700px) {
  .apartment-card-lb div section p:first-child {
    font-size: small;
  }
}

.apartment-card-lb div section:last-child {
  border: 0;
}

.apartment-card-lb div:last-child {
  display: flex;
}

.apartment-card-lb div:last-child section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apartment-card-lb div:last-child section .dummy-border {
  height: 1px;
  width: 75%;
  background-color: goldenrod;
}

.apartment-card .footer-section {
  background-color: white;
}

.apartment-card .footer-section>div {
  margin-top: 1rem;
}

.apartment-card .reserve-share-btn-wrap {
  width: 100%;
}

.apartment-card .reserve-share-btn-wrap button {
  width: 100%;
}

.apartment-card .contact-btn-wrap {
  width: 100%;
}

.apartment-card .contact-btn-wrap button {
  width: 100%;
}
