.enquiryContainer h1 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.form-wrapper {
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    margin-top: 9rem;
}

.form-wrapper h4 {
    width: 150%;
}

.leftForm-wrapper {
    display: flex;
    flex-direction: column;
}

.leftForm-wrapper-item {
    margin-top: 1rem;
}

.leftForm-wrapper div {
    padding: 2rem 6rem 1rem;
}

.contact-details-wrapper {
    font-size: 1.2rem;
}

.contactno {
    margin-left: 3rem;
}

.email {
    font-size: 1.2rem;
}

.rightForm-wrapper div {
    width: 95%;
}


.enquiryContainer .heading {
    width: 90%;
    text-align: center;
    margin: auto;
    padding-top: 5rem;
}

@media only screen and (min-width:200px) and (max-width:1000px) {
    .form-wrapper {
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
    }

    .rightForm-wrapper div {
        width: 90%;
        margin: auto;
        margin-top: 1rem;
    }

    .rightForm-wrapper-heading {
        margin: auto;
        text-align: center;
    }

    .leftForm-wrapper {
        display: flex;
        flex-direction: column;
    }

    .leftForm-wrapper h4 {
        width: 90%;
    }

    .leftForm-wrapper div {
        padding: 1rem;
        margin: auto;
    }

}