.apartment-page-container .bg-image {
  background-image: url("https://images.pexels.com/photos/565324/pexels-photo-565324.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center center;
  background-size: cover;
  height: 720px;
  position: relative;
}
.apartment-page-container section h4 {
  padding-left: 1rem;
}
.apartment-page-container .apartment-card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: white;
  margin-top: 2rem;
}
