@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap');

.land-page-container .bg-image {
  margin-bottom: 0;
  position: relative;
  background-size: cover;
  height: calc(100vh - 5rem);
  background-position: center center;
  background-image: url("https://hbits.co/assets/images/home-banner.webp?auto=format&fit=max&w=1920");
}

.land-page-container section h4 {
  color: #334155;
  margin-left: 20px;
  font-family: 'Domine', serif;
}

.land-page-container>section {
  margin-top: 2rem;
}

.land-card-container {
  display: grid;
  margin: 0 20px;
  border-radius: 10px;
  background-color: #f1f5f9;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 700px) {
  .land-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}