.car-card {
  margin: 2rem;
  border-radius: 1rem;
  background-color: #ffff;
}

.car-card-ub {
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: space-between;
}

.car-card-ub div {
  width: 100%;
  margin-top: 60%;
}

.car-card-ub .details-btn-wrap {
  display: flex;
  justify-content: flex-end;
}

.car-card-ub div .view-car-details-btn {
  width: 7rem;
  margin: .5rem;
}

.car-card-ub p img {
  width: 100%;
}

.car-card-ub .car-name {
  color: black;
  text-shadow: 2px 2px 2px white;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 3rem;
}

.car-card-ub .car-location {
  color: #ffff;
  font-size: 14px;
  font-weight: 500;
}

.car-card {
  height: fit-content;
}

.car-card-lb {
  height: 25%;
  background-color: #ffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 2rem;
}

/*  */

.car-card-lb div {
  display: flex;
  margin: auto 2rem;
  font-family: serif;
  align-items: center;
  justify-content: space-between;
}

.car-card-lb div .dummy-vertical {
  width: 1px;
  height: 75px;
  background-color: #cbd5e1;
}

.car-card-lb div section {
  text-align: center;
}

.car-card-lb div section p:first-child {
  color: #334155;
  font-size: 0.9rem;
}

@media screen and (max-width: 700px) {
  .car-card-lb div section p:first-child {
    font-size: small;
  }
}

.car-card-lb div section p:last-child {
  color: #334155;
  margin-bottom: 0;
  font-family: serif;
}

/*  */

.car-card-lb div section:last-child {
  border: 0;
}

.car-card-lb div:last-child {
  display: flex;
}

.car-card-lb div:last-child section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-card-lb div:last-child section .dummy-border {
  width: 75%;
  height: 1px;
  background-color: goldenrod;
}

.car-card .footer-section {
  position: relative;
  background-color: white;
}

.car-card .footer-section>div {
  margin-top: 1rem;
}

.car-card .reserve-share-btn-wrap {
  width: 100%;
}

.car-card .reserve-share-btn-wrap button {
  width: 100%;
}

.car-card .contact-btn-wrap {
  width: 100%;
}

.car-card .contact-btn-wrap button {
  width: 100%;
}

/* View Details Section */

.car-more-details {
  right: .5rem;
  bottom: -62px;
  border-radius: 5px;
  position: absolute;
  width: fit-content;
  height: fit-content;
  background-color: #fff7ed;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.car-more-details table {
  width: 100%;
}

.car-more-details table tr {
  border-bottom: 1px solid lightgrey;
}

.car-more-details table tr:last-child {
  border: 0;
}

.car-more-details table tr td {
  width: 50%;
  padding: 0px 0.5rem;
}

.car-more-details table tr td:last-child {
  padding-left: 1rem;
}