@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap');

.resort-page-container .bg-image {
  margin-bottom: 0;
  position: relative;
  background-size: cover;
  height: calc(100vh - 5rem);
  background-position: center center;
  background-image: url("https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.resort-page-container .bg-image .content {
  position: absolute;
  top: 50%;
  left: 5%;
  text-align: justify;
  width: 80%;
}
.resort-page-container .bg-image .content h4 {
  font-size: 2rem;
  background: -webkit-linear-gradient(rgb(253, 253, 253), rgb(239, 200, 165));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 0px 0px rgb(255, 255, 255);
  font-family: "calibri";
}

.resort-page-container section h4 {
  color: #334155;
  margin-left: 20px;
  font-family: 'Domine', serif;
}

.resort-page-container>section {
  margin-top: 2rem;
}

.resort-card-container {
  display: grid;
  margin: 0 20px;
  border-radius: 10px;
  background-color: #f1f5f9;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 700px) {
  .resort-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* video heading geomanist */

.home-content {
  margin-bottom: 0;
  color: #64748b;
  padding-top: 2rem;
}

.home-content .content-wrapper {
  display: flex;
  flex-direction: column;
}

.home-content .content-wrapper h4 {
  width: 1020px;
  margin: auto;
  line-height: 1.75;
  text-align: center;
}

@media screen and (max-width: 1075px) {
  .home-content .content-wrapper h4 {
    width: 90%;
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 550px) {
  .home-content .content-wrapper h4 {
    font-size: 18px;
  }
}