.resortBanner {
    background: url("https://images.pexels.com/photos/261169/pexels-photo-261169.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
  }
  
  /* video heading geomanist */
  
  .home-content {
    padding: 1rem 1rem;
    margin-bottom: 0;
  }
  
  .home-content .content-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .home-content .content-wrapper h4 {
    width: 75%;
    margin: auto;
    padding: 2rem;
    line-height: 3rem;
    text-align: center;
  }
  
  .resort-card-wrap {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
  }