.notification-wrapper .row1 {
  display: flex;
  justify-content: space-between;
}
.notification-wrapper .row2 table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.notification-wrapper .row2 table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.notification-wrapper .row2 table thead th,
.notification-wrapper .row2 table tbody td {
  border-left: 1px solid lightgrey;
}

.notification-wrapper .row2 table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

.notification-wrapper .row2 table th,
.notification-wrapper .row2 table td {
  padding: 0.625em;
  text-align: center;
}

.notification-wrapper .row2 table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .notification-wrapper .row2 table {
    border: 0;
  }

  .notification-wrapper .row2 table caption {
    font-size: 1.3em;
  }

  .notification-wrapper .row2 table thead {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .notification-wrapper .row2 table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .notification-wrapper .row2 table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .notification-wrapper .row2 table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a .notification-wrapper .row2 table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .notification-wrapper .row2 table td:last-child {
    border-bottom: 0;
  }
}
