.parking-page-container .bg-image {
    background-image: url("https://images.pexels.com/photos/2280148/pexels-photo-2280148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center center;
    background-size: cover;
    height: 720px;
    position: relative;
    margin-bottom: 5rem;
  }