.cp-slide{
    /* border: 1px solid black; */
    margin-top: 5rem;
}

.cp-slider-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 275px;
    border: 2px solid goldenrod;
    border-radius: 10px;
    margin: 0 auto;
    padding: 25px 10px;
}

.cp-slider-img{
    width: 135px;
    height: 135px;
    border-radius: 50%;
    border: 2px solid goldenrod;
}

.cp-slider-btns button{
    background-color: transparent;
    border: none;
    color: rgb(227, 184, 75);
}

.cp-name{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;
}

.cp-city{
    /* margin-top: 10px; */
}

.cp-slider-btns{
    display: flex;
    justify-content: center;
    font-size: 25px;
    width: 100%;
    text-align: center;
}

.cp-slider-btns button{
    
}

.cp-slider-btns button:first-child{
    margin-left: 10px;
}

.cp-slider-btns button:last-child{
    margin-right: 10px;
}