@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

.apartment-form-wrapper * {
    font-family: 'Montserrat', sans-serif;
}

.apartment-form-wrapper {
    display: grid;
    user-select: none;
    place-items: center;
    height: calc(100vh - 5rem);
}

.apartment-form-container {
    width: 1000px;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    box-shadow: rgba(3, 102, 214, 0.2) 0px 0px 0px 3px;
}

.apartment-form-container>section:first-child {
    font-weight: 500;
    color: #334155;
    font-size: larger;
    margin-bottom: 10px;
}

/* MUI Styling */

/* .MuiButtonBase-root.MuiAccordionSummary-root.css-uvvswg-MuiButtonBase-root-MuiAccordionSummary-root {
  background-color: green;
} */

/* Form Steps */

.form-steps.property-details {
    height: 154px;
    padding-top: 5px;
    overflow-y: scroll;
}

.form-steps.property-details::-webkit-scrollbar {
    width: 10px;
}

.form-steps.property-details::-webkit-scrollbar-track {
    background-color: transparent;
}

.form-steps.property-details::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(3, 102, 214, 0.3);
}

.form-steps.property-details::-webkit-scrollbar-thumb:hover {
    background-color: rgba(3, 102, 214, 0.5);
}

.form-steps .inputs-section {
    display: flex;
    gap: 25px 50px;
    flex-wrap: wrap;
}

/* Aminities */

.aminities-wrapper {
    display: flex;

}

.aminities-wrapper .col1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.aminities-wrapper .col2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* Upload Image */

.upload-image-form-wrapper {
    width: 100%;

}

.upload-image-form-wrapper .images-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.upload-image-form-wrapper .images-wrapper .uploaded-images {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.upload-image-form-wrapper .images-wrapper .uploaded-images img {
    width: 100%;
    height: 100%;
}